.home {
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
/** =====================================================
/// BANNIERE
**/

.banner {
  background-color: black;
  border-bottom: 1px solid rgb(122, 15, 15);
  height: 100px;
}
.banner-center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo {
  height: 100px;
  margin-right: 150px;
}
.banner--text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  line-height: 110px;
}
.banner--text,
p {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}
/**
/// Zone de navigation
**/

.navigationBanner {
  background: #000;
  height: 50px;
}
.navigationBanner {
  height: 75px;
}
.navigationBanner--center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigationArea {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 700px;
  justify-content: space-around;
  align-items: center;
}

.navigationBanner--zoneclick {
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 8px;
}

.navigationBanner--zoneclick:hover {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 8px;
  transition: 0.3s;
}
.navigationBanner--zoneclick:active {
  color: red;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
/** =====================================================
/// Zone de navigation
**/
.navigationSearch--center {
  margin: 0 auto;
  max-width: 1200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigationSearch {
  background-color: black;
  height: 70px;
  border-top: white 0.5px solid;
  border-bottom: white 1px solid;
}
.formSearch {
  margin-left: 50px;
}
.search-box {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-box,
input {
  height: 40px;
  width: 300px;
}
.formSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/** =====================================================
/// Zone de pagination
**/
.nav {
  display: flex;
  flex-direction: row;
}
.navigationThroughPages {
  background-color: black;
  height: 40px;
}
.navigationThroughPages--center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
}
.boutonNav {
  margin-left: 10px;
}
/** =====================================================
/// Fiches personnages
**/
.imageContainer {
  position: relative;
  text-align: center;
  color: white;
}
.charactersList {
  background-color: black;
  padding-top: 15px;
}
.charactersList--center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.characterItem {
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: rgb(54, 54, 54) 1px solid;
  overflow: hidden;
}

.CharacterCard {
  width: 220px;
  height: 310px;
}
.characterCard {
  color: white;
}
.characterName {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  background-color: rgba(29, 29, 29, 0.733);
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.characterName:hover {
  text-decoration: underline;
}
.characterName,
p {
  font-size: 1.2em;
}
.characterDesc {
  color: white;
  width: 250px;
}

.characterThumbnail {
  object-fit: cover;
  width: 220px;
  height: 310px;
}

.favoriteIcon {
  top: 5px;
  right: 5px;
  width: 60px;
  position: absolute;
}
.favoriteIcon:hover {
  cursor: grab;
}

.loadingData {
  height: 500px;
  background-color: black;
  color: white;
  padding-top: 20px;
  font-size: 33px;
  font-weight: bold;
}
.pagination {
  display: inline-block;
  color: white;
  background-color: grey;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination {
  display: flex;
  flex-direction: row;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}
/**********$**/
.comics--center {
  margin: 0 auto;
  max-width: 1200px;
}
.comics {
}
.comicZone {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}
.comicThumbnailImg {
  width: 150px;
  object-fit: cover;
}

.comicCard {
  display: flex;
  flex-direction: row‡;
}
.comic-text {
  display: flex;
  flex-direction: column;
}
.comicTitle {
  font-size: 32px;
  margin-bottom: 10px;
}
.comicDescription {
}
.comic-text {
  margin: 15px;
}
.comicItem {
  margin: 20px;
}
